<%- include("partial/head"); %>
<div class="container">
  <%- include("partial/nav"); %>

  <h1>Add Product</h1>
  <% if (message.length>0) {%>
  <div class="alert alert-success"><%= message%></div>
  <%}%>
  <form action="/add-product" method="post">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Choose Category</label>
          <select name="category" class="form-control">
            <option disabled selected>Select Category</option>
            <% for(let data1 of displaydata1){ %>
            <option value="<%= data1.id %>"><%= data1.cName %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Choose Sub-Category</label>
          <select name="subcategory" class="form-control">
            <option disabled selected>Select Sub-Category</option>
            <% for(let data2 of displaydata2){ %>
            <option value="<%= data2.id %>"><%= data2.subName %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Enter Product Name</label>
          <input type="text" name="name" class="form-control" required />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Enter Product Price</label>
          <input type="number" name="price" class="form-control" required />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
  </form>
</div>

<%- include("partial/bottom"); %>
